@{
    ViewData["Title"] = "Product Page";
}

@model List<Product>
<div class="container">
    <hr>
    <a href="/Home/Detail"><input type="button" value="New Record" class="btn btn-success"></a>
    <table class="table">
        <thead>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Seri Number</th>
        <th>Count</th>
        <th>Price</th>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        <a href="/Home/Detail/@product.Id"><input type="button" value="Detail" class="btn btn-danger"></a>
                    </td>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.SeriNumber</td>
                    <td>@product.Count</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>